@model List<DirectoryStructureApp.Models.MyCatalog>

@{
    ViewData["Title"] = "Index";
}

@foreach (var catalog in Model)
{
    <h1>"Folder" - @catalog.Name</h1>
    <ul>
        @foreach (var childCatalog in catalog.Children)
        {
            <li><h2><a href="@Url.Action("Details", "MyCatalogs", new { id = childCatalog.Id })">@childCatalog.Name</a></h2></li>
        }
    </ul>
}

<form action="/MyCatalogs/DeleteAllCatalogs" method="post" enctype="multipart/form-data">
    <button type="submit">DeleteAllCatalogs</button>
</form>

<form action="/MyCatalogs/ImportDataFromJsonFile" method="post" enctype="multipart/form-data">
    <input type="file" name="file" />
    <input type="submit" value="Upload" />
</form>

<form action="/MyCatalogs/SaveMyCatalogsToJsonFile" method="post" enctype="multipart/form-data">
    <button type="submit">SaveToJson</button>
</form>

<button onclick="saveDirectory()">Зберегти</button>

<script>
    function saveDirectory() {
        var selectedDirectoryPath = prompt("Будь ласка, введіть шлях до директорії:");
        if (selectedDirectoryPath != null) {
            fetch('MyCatalogs/SaveMyCatalogsToJsonFile', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ selectedDirectoryPath: selectedDirectoryPath }),
            })
                .then(() => {
                    alert("Файл успішно збережений.");
                })
                .catch((error) => {
                    console.error('Помилка:', error);
                });
        }
    }
</script>


